aws_ssh_key: valheim
vpc_id: vpc-d34db33f

aws_key_location: valheim.pem

server:
  display_name: "Valheim"
  world_name: valheim
  # 5 characters, at least one number
  user_password: valheim420
  # 5 characters, at least one number, at least one uppercase letter
  password: Valheim420
  # Path needs to be relative to this file
  initial_world_local_path: ""
  # Path needs to be relative to goofys.bucket
  initial_world_s3_path: ""